*{
 padding: 0;
 margin: 0;
box-sizing: border-box;
}
#office
{
    text-align: center;
}
body
{
background-image: url(bk.jpg);
background-size: cover;
background-position: center;
font-family: sans-serif;
}
.menu-bar
{
background: rgb(255, 166, 0);
text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: hsl(0, 0%, 100%);
}
.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a
{
text-decoration: none;
color: hwb(0 97% 3%);
}
.active, .menu-bar ul li:hover
{
    background: #02c4ff;
    border-radius: 3px;
}
.menu-bar .fa
{
    margin-right: 8px;
}
.sub-menu-1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background-color: #02c4ff;
    margin-top: 15px;
    margin-left: 15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
display: block;
margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width:150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color:#07ff51de;
}
.fa-clone
{
    float:right;
}
.sub-menu-2
{
    display: none;
}
.hover-me:hover .sub-menu-2
{
    position: absolute;
    display: block;
    margin-top: 40px;
    margin-left: 14px;
    background: rgb(0, 68, 100);
}